.login {
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #df5962 0%, #c51a1a 100%);
    display: flex;
    margin: 0;
}

.login .leftPanel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 400px;
}

.login .rightPanel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login .rightPanel .card {
    width: 300px;
    padding: 20px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
}

.login .rightPanel .card input {
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login .rightPanel .card input:focus {
    border: 1px solid #667eea;
}

.login .rightPanel .card button {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 3px;
    background: #667eea;
    color: white;
    cursor: pointer;
}

.login .rightPanel .card button:hover {
    background: #3557ef;
}

.login .leftPanel h1 {
    font-size: 36px;
    margin-bottom: 5px;
}

.login .leftPanel p {
    font-size: 24px;
}

.login .rightPanel p span {
    color: dodgerblue;
    cursor: pointer;
}

.login .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5); /* fixed */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login .overlay .signup {
    width: 350px;
    height: 500px;
    background: white;
    position: relative;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login .overlay .signup .close {
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.login .overlay .signup label {
    font-weight: bold;
    margin-top: 10px;
}

.login .overlay .signup input {
    height: 30px;
    border: 1px solid salmon; /* fixed */
    border-radius: 2px;
    font-size: 14px; /* improved */
    padding: 5px;
}

.login .overlay .signup .regButton:hover {
    background: #3557ef;
}
